/* Стилі для вирівнювання форми */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('bg.jpeg') no-repeat center center fixed;
    background-size: cover;
}

.glass-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 300px;
    text-align: center;
}

/* Стилі для інпутів */
.glass-container input[type="text"],
.glass-container input[type="password"],
.glass-container button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #333;
    font-size: 16px;
    text-align: center; /* Додаємо вирівнювання тексту по центру */
}

/* Стилі для кнопки */
.glass-container button {
    background: rgba(255, 255, 255, 0.6);
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

.glass-container button:hover {
    background: rgba(255, 255, 255, 0.8);
}

/* Текст помилки */
#errorMessage {
    color: red;
    margin-top: 10px;
}

h2 {
    color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    top: 10px;
    right: 20px;
    margin: 0;
    z-index: 1001; /* Щоб перекрити інші елементи, якщо потрібно */
}

#toolbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#toolbar nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#toolbar nav ul li {
    padding: 14px;
}

#toolbar nav ul li a {
    color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    text-align: center;
    text-decoration: none;
    display: block;
}

#toolbar nav ul li a:hover {
    
    color: rgb(143, 142, 142);
}
h4 {
    color:azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 40px;
}
h5 {
    color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}
warntext {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 10px;
    color: azure;
}
